
.carousel-navigation {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .carousel-navigation-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 32px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .carousel-navigation-item i {
    margin-top: 12px;
  }
  
  .carousel-item {
    position: relative;
  } 